body {
  padding-top:40px;
  font-family:'Courier New', Courier, monospace;
  text-align:center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 80%;
  height: 20.0rem;
}

#target {
  font-size:60px;
  letter-spacing:.1em;
  padding:16px;
  margin-top:16px;
}

#japanese ,
#readyTime,
#rest
{
  font-size:40px;
}

#readyTime {
  position:relative;
  top:100px;
}